@import "/src/scss/Robot-painter-root.scss";

.grid {
    display: grid;
    border: 1px solid black;
}

.robot-img {
    width: 75%;
    height: 75%;
}

.cell {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.painted {
    background-color: $robot-blue-500;
}