
.grid {
    display: grid;
    border: 1px solid black;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100px;
}

.row {

}

.cell {
    background-color: red;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.painted {
    background-color: blue;
}