$robot-blue-100: #1c3059 !default;
$robot-blue-200: #2d3a64 !default;
$robot-blue-300: #3b466d !default;
$robot-blue-400: #616b8e !default;
$robot-blue-500: #8596b8 !default;

$robot-black-100: #000000 !default;
$robot-black-200: #202020 !default;
$robot-black-300: #404040 !default;
$robot-black-400: #605d5d !default;
$robot-black-500: #7e7e7e !default;
$robot-black-600: #f2f2f2 !default;
