@import "/src/scss/Robot-painter-root.scss";

.home-container {
  outline: none;
}

.title-container {
  display: flex;
  margin: 15px;
  justify-content: space-evenly;
}

.buttons-container {
  text-align: center;
}

.inner-title-container {
  text-align-last: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px
}

.grid-buttons-container {
  text-align-last: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  @extend .robot-text-medium;
  width: 50px;
  font-size: 16px;
  border: none;
}

.time-and-highscore-container{
  display: flex;
  text-align: end;
  flex-direction: column;
}