.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin-bottom: 84px;
}

.light-theme {
  background-color: white;
  text-transform: capitalize;
  color: black;
}

.dark-theme {
  background-color: gray;
  text-transform: capitalize;
  color: white;
}